img.map{
	width: calc(100% - 30px);
	position:relative;
    margin:0 auto; 
    text-align: center;
}

img.baba{
	width: 50px;
	height: 50px;
	position: absolute;
    top: 56%;
    left: 53%;
}

img.hikiUma{
	width: 45px;
	height: 45px;
	position: absolute;
    top: 57%;
    left: 39%;
}

img.car{
	width: 40px;
	height: 40px;
	position: absolute;
    top: 40%;
    left: 33%;
}

img.forest{
	width: 30px;
	height: 30px;
	position: absolute;
    top: 70%;
    left: 30%;
}

.enpit-pamphlet-web {
	background: #FAFAFA;
	}
	
	button.btn.send-button {
	background: #009688;
	color: #fff;
	}
	
	button.btn.send-button:hover {
	opacity: 0.5;
	transition: 0.3s
	}
	
	.scroll {
	overflow: auto;
	}
	
	.share {
	color: #fff;
	background: #009688;
	margin: 15px 10px;
	}
	
	.share>* {
	padding-left: 5px;
	}
	
	.comment {
	margin: 0 5px;
	}
	
	.timestamp {
	text-align: right;
	}
	
	
	.form-group {
	display:flex;
	}
	
	